@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: rgb(249,243,226); 
}

:root {
    font-family: 'Press Start 2P', system-ui, sans-serif;
}

